<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.com.j3b">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.prestamos.PagarPrestamoActivity"></activity>
        <activity android:name=".ui.tarjetaCredito.PagarTarjeta" />
        <activity android:name=".ui.tarjetaCredito.SolicitudTarjetaCreditoActivity" />
        <activity android:name=".ui.prestamos.SolicitudPrestamo" />
        <activity android:name=".ui.transaccionesPropias.TransaccionCuentasPropias" />
        <activity android:name=".ui.transaccionesAjenas.TransaccionCuentasAjenas" />
        <activity android:name=".ui.transaccionesAjenas.EvaluadorCodigoTransferencia" />
        <activity android:name=".ui.transaccionesAjenas.EvaluadorCodigoRegistroCuenta" />
        <activity android:name=".ui.transaccionesAjenas.RegistroCuentaConfianza" />
        <activity android:name=".ui.consultaCuentas.ConsultaCuentas" />
        <activity android:name=".ui.tarjetaCredito.ConsultaTarjeta" />
        <activity android:name=".ui.ingreso.RedireccionInicialActivity" />
        <activity android:name=".ui.cambios.ConsultaCambioMoneda" />
        <activity
            android:name=".ui.ingreso.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ui.ingreso.FingerprintActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.aplicacion.VentanaPrincipal" />
        <activity android:name=".ui.ingreso.AvisoBloqueo" />
        <activity android:name=".ui.ingreso.ActualizacionCredenciales" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>